<form [formGroup]="form" (ngSubmit)="submit(form.value)">
  <div class="d-flex justify-content-around">
    <!-- form upload -->
    <section class="upload_selected-category">
      <!-- product_name -->
      <input type="text" fullWidth class="form-control mt-2" placeholder="نام محصول" formControlName="product_name" />
      <ng-container *ngIf="form.controls.product_name.touched">
        <p class="caption status-danger" *ngIf="form.controls.product_name.errors?.required">
          نام محصول الزامی میباشد
        </p>
        <!-- <p
            class="caption status-danger"
            *ngIf="form.errors?.minlength || form.errors?.maxlength"
          >
            نام محصول باید در لیست وححود داشته باشد from
            {{ getConfigValue("form.validation.product_name.minLength") }} to
            {{ getConfigValue("form.validation.product_name.maxLength") }}
            characters
          </p> -->
      </ng-container>
      <!-- product_price -->
      <input currencyMask [(ngModel)]="priceValue" [options]="{ prefix: 'ريال ', thousands: '.', precision: 0 }"
        fullWidth formControlName="product_price" class="form-control mt-2" placeholder="قیمت محصول" />
      <!-- product_weight -->
      <input currencyMask [options]="{ prefix: 'kg ', thousands: '.', precision: 0 }" fullWidth
        formControlName="product_weight" class="form-control mt-2" placeholder="وزن محصول" />
      <!-- product_cart_description -->
      <input type="text" fullWidth formControlName="product_cart_description" class="form-control mt-2"
        placeholder="توضیحات محصول" />
      <ng-container *ngIf="form.controls.product_price.touched">
        <p class="caption status-danger" *ngIf="form.controls.product_price.errors?.required">
          قیمت محصول الزامی میباشد
        </p>
      </ng-container>
    </section>

    <!-- Upload Img -->
    <div class="container">
      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
          <div class="upload-file d-flex justify-content-center align-items-center">
            <img class="responsive" [src]="sanitizeImagePreview" *ngIf="sanitizeImagePreview" />
            <input
              #fileInput
              type="file"
              accept="image/*"
              (change)="onImageChange($event)"
            />
            <div
              class="
                d-flex
                flex-column
                justify-content-center
                align-items-center
                upload-file-zone
              "
              *ngIf="!sanitizeImagePreview"
            >
              <span class="lla-no-pic-grey lla-no-pic"> </span>
              <span class="upload-text coms-m-t-5">Add Picture</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    

  </div>
  <hr />
  <footer class="d-flex justify-content-end">
    <button [disabled]="!form.valid" type="submit" nbButton status="primary">
      ارسال
    </button>
  </footer>

 
    

  
</form>